<%- include('../partials/header') %> 

<section id="employee-index">

<div class="ui container grid">
    <div class="column centered">
            
            <!-- <div class="ui three item pointing attached menu">
                <a class="active item">
                    Pending
                    <div class="ui teal label">1</div>
                </a>
                <a class="item">Approved</a>
                <a class="item">Rejected</a>
            </div> -->

        <div class="ui attached padded segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                    <h3 class="header">Need to attend sister marriage</h3>
                    <p>
                        <i class="calendar icon"></i>
                        <%= Date(Date.now()).slice(0,10) %> -
                        <%= Date(Date.now()).slice(0,10) %>
                    </p>
                    <div class="ui yellow horizontal label">Pending</div>
                    <div class="ui horizontal label">Casual</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached padded segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                    <h3 class="header">Not feeling well</h3>
                    <p>
                        <i class="calendar icon"></i>
                        <%= Date(Date.now()).slice(0,10) %> -
                        <%= Date(Date.now()).slice(0,10) %>
                    </p>
                    <div class="ui teal horizontal label">Approved</div>
                    <div class="ui horizontal label">Sick</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached padded segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                    <h3 class="header">Going on a summer vacation</h3>
                    <p>
                        <i class="calendar icon"></i>
                        <%= Date(Date.now()).slice(0,10) %> -
                        <%= Date(Date.now()).slice(0,10) %>
                    </p>
                    <div class="ui orange horizontal label">Rejected</div>
                    <div class="ui horizontal label">Other</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</section>

<%- include('../partials/footer') %> 