<%- include('../partials/header') %> 

<section id="employee-index">

<div class="ui container grid">
    <div class="column centered">
        <div class="ui ">

            <!-- <div class="ui menu top">
                <a class="active item" data-tab="edit"><i class="icon edit sign"></i>Edit</a>
                <a class="item" data-tab="summary">Summary</a>
              </div> -->
            
        <div class="ui two item  menu top">
            <a class="item" data-tab="users">
                <i class="icon user"></i>
                Users
                <div class="ui teal basic label">1</div>
            </a>
            <a class="active item" data-tab="leaves">
                <i class="icon calendar times"></i>
                Leaves
                <div class="ui teal basic label">3</div>
            </a>
        </div>

        

        <div class="ui cards" data-tab="users">

            <div class="card">
              <div class="content">
                <div class="ui yellow horizontal right floated tiny label">Pending</div>
                <div class="ui horizontal right floated tiny label">Sick</div>
                <div class="header">
                  Manager Leaves Tab
                </div>
                <div class="meta">
                    <i class="calendar icon"></i>
                    <%= Date(Date.now()).slice(0,10) %> -
                    <%= Date(Date.now()).slice(0,10) %> 
                </div>
                <div class="description">
                  Need to attend sister marriage urgently
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui basic green button">Approve</div>
                  <div class="ui basic red button">Decline</div>
                </div>
              </div>
            </div>

        </div>


        <div class="ui cards" data-tab="users">

            <div class="card">
                <div class="content">
                  <div class="ui yellow horizontal right floated tiny label">Pending</div>
                  <div class="header">
                    Manager Users Tab
                  </div>
                  <div class="meta">
                      <i class="calendar icon"></i>
                      <%= Date(Date.now()).slice(0,10) %>
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                  </div>
                </div>
              </div>

        </div>


        <div class="ui cards" data-tab="users">

            <div class="card">
                <div class="content">
                  <div class="ui yellow horizontal right floated tiny label">Pending</div>
                  <div class="header">
                    Employee Leaves (Casual)
                  </div>
                  <div class="meta">
                      <i class="calendar icon"></i>
                      <%= Date(Date.now()).slice(0,10) %> -
                      <%= Date(Date.now()).slice(0,10) %> 
                  </div>
                  <div class="description">
                    Need to attend sister marriage urgently
                  </div>
                </div>
              </div>

        </div>

          <!-- <div class="ui attached padded segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="ui vertical icon right floated menu">
                        <a class="item"><i class="check icon"></i></a>
                        <a class="item"><i class="close icon"></i></a>
                    </div>
                    <div class="content">
                        <div>
                            <i class="user icon"></i><em>Rajan</em>
                            <div class="ui right floated">
                                <i class="calendar icon"></i>
                               
                            </div>
                        </div>
                        <h3 class="header">Rajan:Need to attend sister marriage Hey Ram</h3>
                        
                        <div class="ui yellow horizontal label">Pending</div>
                        <div class="ui horizontal label">Casual</div>
                        <a href="#" class="ui horizontal label centered right floated"><i class="check icon"></i></a>
                        <a href="#" class="ui horizontal label right floated"><i class="close icon"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="ui attached padded segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                    <h3 class="header">Not feeling well</h3>
                    <p>
                        <i class="user icon"></i><em>Rajan</em>
                        <i class="calendar icon"></i>
                      
                    </p>
                    <div class="ui teal horizontal label">Approved</div>
                    <div class="ui horizontal label">Sick</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached padded segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                    <h3 class="header">Going on a summer vacation</h3>
                    <p>
                        <i class="calendar icon"></i>
                        
                    </p>
                    <div class="ui orange horizontal label">Rejected</div>
                    <div class="ui horizontal label">Other</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    </div>
</div>

</section>

<%- include('../partials/footer') %> 