<%- include('../partials/header') %> 

<section id="manager-index">

<div class="ui container grid">
    <div class="column centered">
        <div class="ui ">
            
        <div class="ui two item  menu top">
            <a class="item" data-tab="users">
                <i class="icon user"></i>
                Users
                <div class="ui teal basic label">1</div>
            </a>
            <a class="active item" data-tab="leaves">
                <i class="icon calendar times"></i>
                Leaves
                <div class="ui teal basic label"><%= pendingCount %></div>
            </a>
        </div>

        <% leaves.forEach((leave) => { %> 
      
        <div class="ui cards" data-tab="users">

            <div class="card">
              <div class="content">

                <% if (leave.status === 'Pending') { %> 
                  <div class="ui yellow horizontal right floated tiny label"><%= leave.status %></div>
                <% } else if (leave.status === 'Approved') { %> 
                  <div class="ui green horizontal right floated tiny label"><%= leave.status %></div>
                <% } else { %> 
                  <div class="ui red horizontal right floated tiny label"><%= leave.status %></div>
                <% } %> 

                
                <div class="ui horizontal right floated tiny label"><%= leave.type %></div>
                <div class="header">
                  <%= leave.author.username.charAt(0).toUpperCase() + leave.author.username.slice(1) %> 
                </div>
                <div class="meta">
                    <i class="calendar icon"></i>
                    <%= leave.fromDate.toDateString().slice(0,10) %> -
                    <%= leave.toDate.toDateString().slice(0,10) %> 
                </div>
                <div class="description">
                  <%= leave.reason %> 
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <% if (!(leave.status === 'Pending')) { %> 
                    <form class="ui" action="/leaves/<%= leave._id %>?_method=PUT" method="POST">
                      <input type="hidden" name="leave[status]" value="Pending">
                      <button type="submit" class="ui basic yellow button">Pending</button>
                    </form>
                  <% } %> 
                  <% if (!(leave.status === 'Approved')) { %> 
                    <form class="ui" action="/leaves/<%= leave._id %>?_method=PUT" method="POST">
                      <input type="hidden" name="leave[status]" value="Approved">
                      <button type="submit" class="ui basic green button">Approve</button>
                    </form>
                  <% } %> 
                  <% if (!(leave.status === 'Rejected')) { %> 
                    <form class="ui" action="/leaves/<%= leave._id %>?_method=PUT" method="POST">
                      <input type="hidden" name="leave[status]" value="Rejected">
                      <button type="submit" class="ui basic red button">Decline</button>
                    </form>
                  <% } %> 
                  
                  
                </div>
              </div>
            </div>

        </div>
        <% }) %> 

        <!-- <div class="ui cards" data-tab="users">

            <div class="card">
                <div class="content">
                  <div class="ui yellow horizontal right floated tiny label">Pending</div>
                  <div class="header">
                    Manager Users Tab
                  </div>
                  <div class="meta">
                      <i class="calendar icon"></i>
                      
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                  </div>
                </div>
              </div>

        </div> -->


        

    </div>
    </div>
</div>

</section>

<%- include('../partials/footer') %> 